<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/pas_foto.png" alt="Fatahillah" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Fatahillah</h1>
      <p class="lead">Unemployment | with High Aspirations</p>
    </div>
  </div>
</div>
